.liftups {
  @include wide {
    background-color: $red;
  }
}

.liftups__content {
  @include medium-small {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.liftups__item {
  background-color: $red;

  @include medium-small {
    width: calc(100% / 2 - 0.5rem);
  }

  @include wide {
    width: calc(100% / 4 - 1.5rem);
    background-color: transparent;
  }

  @include extrawide {
    width: calc(100% / 4 - 3.5rem);
  }

  &:not(:first-child) {
    margin-top: 1rem;
  }

  &:nth-child(2) {
    @include medium-small {
      margin-top: 0;
    }
  }

  &:nth-child(3),
  &:nth-child(4) {
    @include wide {
      margin-top: 0;
    }
  }
}

.liftups__wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include wide {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.liftup {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.liftup__title {
  @include font-size(18px);
  word-break: break-word;
  font-weight: 700;

  @include medium-wide {
    @include font-size(20px);
  }

  @include extrawide {
    @include font-size(22px);
  }
}

.liftup__link {
  display: block;
  color: $white;
  text-decoration: none;
  padding: 1.5rem;

  @include medium-wide {
    padding: 2rem 1.5rem;
  }

  @include wide {
    padding: 0;
  }
}

.liftup__text {
  @include font-size(14px);

  @include medium-wide {
    @include font-size(16px);
  }

  @include extrawide {
    @include font-size(15px);
  }

  p {
    margin-bottom: 0;
  }
}

.liftup__background {
  position: absolute;
  width: 118%;
  bottom: -13px;
  right: 0;
  opacity: 0.41;

  @include medium-wide {
    width: 140%;
  }

  @include wide {
    display: none;
  }
}
