<div class="partners">
  <h3 class="partners__title">{{ 'partners with'|t }}</h3>
  <div class="partners__content">
    <div class="partner partner--klarna">
      <a href="https://www.klarna.com/" target="_blank" rel="noopener" class="partner__link" title="Klarna">
        <img src="/{{ module_path }}/images/klarna.svg" alt="Klarna">
      </a>
    </div>
    <div class="partner partner--itewiki">
      <a href="https://www.itewiki.fi/druid" target="_blank" rel="noopener" class="partner__link" title="Ite Wiki">
        <img src="/{{ module_path }}/images/itewiki.png" alt="Ite Wiki">
      </a>
    </div>
  </div>
</div>
