// General form styles

form {
  margin-bottom: 4rem;
  margin-top: 2rem;

  label {
    @include font-size(14px);
    display: block;
    margin: 0 0 .5rem;

    @include small {
      @include font-size(16px);
    }

    @include medium-small {
      @include font-size(18px);
    }
  }
}

.form-item,
.mc-field-group {
  margin-bottom: 1.5rem;
  position: relative;
}

.form-item {
  input[type="text"],
  input[type='email'],
  input[type='password'],
  input[type='number'],
  input[type='date'],
  textarea,
  select {
    border: 1px solid $gray-lighter;
    border-radius: 0;
    width: 100%;
    background: $gray-lighter;
    box-shadow: none;
    -webkit-appearance: none;
    color: $gray-dark;
    font-size: 1rem;
  }

  input[type="text"],
  input[type='email'],
  input[type='password'],
  input[type='number'],
  input[type='date'],
  select {
    height: 2.25rem;
    line-height: 2.25rem;
    padding: 0 .5rem;
  }

  textarea {
    padding: .5rem;
  }

  .description {
    color: $gray-dark;
    font-size: 80%;
    margin-top: 0.25rem;
  }
}

input {
  + label {
    margin: 0.75rem 0 0.25rem 0;
    position: absolute;
    top: 0;
  }
}

.input--filled {
  input:not(.form-submit) {
    padding-top: 1.5rem;
  }

  label {
    color: $gray;
    font-size: 0.875rem;
    margin-top: 0;
  }
}

.form-required {
  &:after {
    color: $red;
    content: '*';
    display: inline-block;
    height: 6px;
    margin: 0 0.3em;
    vertical-align: super;
    width: 6px;
  }
}

.form-submit {
  display: block;
  margin-top: 2rem;
  font-size: inherit;

  &.js-hide {
    display: none;
  }
}

.mc-field-group {
  input {
    &:focus {
      border-color: $red;
    }
  }
}

.webform-button--submit {
  width: 100%;
}

#mc_embed_signup .mc-field-group div.mce_inline_error {
  background-color: $error-light;
  border: 1px solid $error-dark;
  margin: 1rem 0;
}

.form-actions {
  text-align: center;
}
