{% set liftup_title = content.field_p_title %}
{% set liftup_text = 	content.field_p_text %}
{% set liftup_link = 	content.field_p_link[0]['#url'] %}

<div class="liftup">
  <a href="{{ liftup_link }}" class="liftup__link">
    {% if liftup_title %}
      <h2 class="liftup__title">{{ liftup_title }}</h2>
    {% endif %}

    {% if liftup_text %}
      <div class="liftup__text">
        {% autoescape false %}{{ liftup_text }}{% endautoescape %}
      </div>
    {% endif %}
    <div class="liftup__background">
      {% include '@druid_theme/icons/liftup-background.html.twig' %}
    </div>
  </a>
</div>